<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Python Flask Image Manipulation App</title>
 
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="../static/jumbotron-narrow.css" rel="stylesheet">

    <link href="../static/style.css" rel="stylesheet">
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active btn"><a href="#">Home</a>
                    </li>
                    <li role="presentation" class="btn"><a href="https://github.com/tuvovan">tuvovan</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Python Flask Image Manipulation App</h3>
        </div>
 
        <div class="jumbotron">
            <h1>Upload your image</h1>
            <p class="lead"></p>
	       <form id="upload-form" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
            <input id="file-picker" type="file" name="file" accept="image/*" class="hidden" onchange="this.form.submit()">
            <label for="file-picker" class="btn btn-lg btn-success">Select file</label>
		 </form>
        </div>
 
        <div class="row marketing">
            <div class="col-lg-6">
                <h4>Background Removal</h4>
                <p>Remove your background with AI.</p>
            </div>
 
            <div class="col-lg-6">
                <h4>Image Outpainting</h4>
                <p>Expanding the border of your images</p>
            </div>
        </div>
 
        <footer class="footer">
            <p>&copy; gxercavins 2017. Using Python, Flask and PIL.</p>
        </footer>
 
    </div>
</body>
 
</html>

