<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Process your image</title>
 
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="../static/jumbotron-narrow.css" rel="stylesheet">

    <link href="../static/style.css" rel="stylesheet">
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="/">Home</a>
                    </li>
                    <li role="presentation"><a href="https://github.com/gxercavins">gxercavins</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Process your image</h3>
        </div>
 
        <div class="jumbotron">
		 <div id="image-container">
            <img src=" {{url_for('send_image', filename=image_name)}} " style="max-width: 560px;">
            </div>
          </div>
 
        <div class="row marketing">
            <div class="col-lg-6">
                <h4>Remove</h4>
                <form id="form-remove" action="{{ url_for('br') }}" method="POST" enctype="multipart/form-data">        
                  <button id="btnRemove" class="btn btn-lg btn-success" type="submit">Remove</button>
			  <input type="text" class="hidden" name="image" value="{{ image_name }}">  

                </form>

                <h4>OutPaint</h4>
                <form id="form-outpaint" action="{{ url_for('outpaint') }}" method="POST" enctype="multipart/form-data">        
                    <input type="number" placeholder="10" min="0" name="pixels" required> 
                    <input type="number" placeholder="25" min="0" name="strength" required> 
                    <button id="btnOut" class="btn btn-lg btn-success" type="submit">OutPaint</button>
			  <input type="text" class="hidden" name="image" value="{{ image_name }}"> 
                </form>
                <h4>Crop</h4>
                <form id="form-crop"" action="{{ url_for('crop') }}" method="POST" enctype="multipart/form-data">
                  <input type="number" placeholder="x1" min="0" name="x1" required>  
                  <input type="number" placeholder="y1" min="0" name="y1" required>                 
                  <input type="number" placeholder="x2" min="0" name="x2" required>                 
                  <input type="number" placeholder="y2" min="0" name="y2" required>                                
                  <button id="btnCrop" class="btn btn-lg btn-success" type="submit">Go</button>
			  <input type="text" class="hidden" name="image" value="{{ image_name }}">
                </form>                
            </div>
 
            <div class="col-lg-6">
                <h4>Rotate</h4>
                <form id="form-rotate" action="{{ url_for('rotate') }}" method="POST" enctype="multipart/form-data"> 
			  <input type="number" name="angle" min="-359" max="359" placeholder="degrees" required>        
                  <button id="btnRotate" class="btn btn-lg btn-success" type="submit">Go</button>
	  		  <input type="text" class="hidden" name="image" value="{{ image_name }}">
                </form>
 
                <h4>Blend</h4>
                <form id="form-blend"" action="{{ url_for('blend') }}" method="POST" enctype="multipart/form-data">  
		       <input type="number" name="alpha" placeholder="alpha(%)" min="0" max="100" required>               
                  <button id="btnBlend" class="btn btn-lg btn-success" type="submit">Go</button>
	  	       <input type="text" class="hidden" name="image" value="{{ image_name }}">
                </form>
                
            </div>
        </div>
 
        <footer class="footer">
            <p>&copy; gxercavins 2017. Using Python, Flask and PIL.</p>
        </footer>
 
    </div>
</body>
 
</html>

